body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    background: #f4f4f4;
  }
  
  .menu {
    background: #333;
    text-align: center;
    padding: 10px;
  }
  
  .menu-button {
    background: #0570E5;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 0px;
    transition: background 0.3s ease;
  }
  
  .menu-button:hover {
    background: #001F3F;
  }
  
  .page {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: rgb(231, 237, 243);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
  }
  
  .page-title {
    color: #27394d;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .year-dropdown {
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
  }
  
  .grid-item {
    background: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
  }
  
/* MAP legend */

  .legend {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    line-height: 1.4;
  }
  
  .legend-title {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .legend-entry {
    display: flex;
    align-items: center;
    margin-top: 6px;
  }
  
  .color-box {
    width: 18px;
    height: 18px;
    margin-right: 6px;
    border-radius: 3px;
  }
  
  .legend-text {
    flex: 1;
  }

  /* MAP Popup content styles */
.popup-content {
    font-size: 14px;
    padding: 10px;
}

.popup-content h1 {
    font-size: 18px;
    margin-bottom: 5px;
}

.popup-details {
    margin-top: 10px;
    font-size: 12px;
}

.popup-details p {
    margin: 5px 0;
}